In [179]:
## Домашнее задание 11. Библиотека pandas. ОГ

## Задание 1.
## Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
## Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd

movies = pd.read_csv('ml-20m/movies.csv')

ratings = pd.read_csv('ml-20m/ratings.csv')
ratings_stats = ratings[ (ratings['rating'] == 5.0) ].sort_values(by='movieId')

movie_stats = ratings_stats.movieId.value_counts()
max_movieId = movie_stats.keys()[0]
movies[ (movies['movieId'] == max_movieId) ]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

In [178]:
## Задание 2
## По данным файла power.csv посчитайте суммарное потребление 
## стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 
## за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

import pandas as pd

data = pd.read_csv('power.csv')
data.head()

def baltic(country):

    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Прибалтика'
    return 'other'

data['baltic'] = data.country.apply(baltic)

blt_countries = data[ (data['baltic'] == 'Прибалтика') & (data['year'] >= 2005) & (data['year'] <= 2008) \
  & ( (data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21) ) ]\
  .sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# print(f'Size of data: {len(blt_countries)}')

blt_consumption = blt_countries['quantity'].sum()
print(f'Суммарное потребление стран Балтики: {blt_consumption}')

Суммарное потребление стран Балтики: 158912.0

In [36]:
## Задание 3.

import pandas as pd

page_url = 'https://www.finanz.ru/valyuty/jpy-rub'

df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

df1 = pd.DataFrame(data=df[0])
df1

       Дата  Закрытие  Открытие  Максимум  Минимум
0  05.12.20      7119      7119      7119     7119
1  04.12.20      7114      7175      7186     7088
2  03.12.20      7173      7196      7223     7150
3  02.12.20      7194      7285      7298     7182
4  01.12.20      7285      7327      7335     7227
5  30.11.20      7328      7309      7349     7282
6  29.11.20      7305      7300      7336     7294
7  28.11.20      7298      7310      7310     7298
8  27.11.20      7309      7262      7328     7259
9  26.11.20      7257      7237      7266     7223